/* styling for contact.html */
form {
    font-size: 20px;
}

/* keep lables above their relative input field */
label {
    display: block;
}

h1 {
    font-size: 40px;
}

/* set styling of div containing form to be responsive and slightly transparent */
.contact-form {
    position: relative;
    background-color: rgba(52, 58, 64, 0.9);
    margin: 30px auto;
    width: 60%;
    padding: 50px;
    border-radius: 30px;
}

/* set inputs to take up most of containing space */
#name-input, #email-input, textarea {
    width: 100%;
}

/* set responsiveness for protrait screens */
@media screen and (orientation: portrait) {
    /* needed contact form to be be taller to fix issue with sticky footer on larger phone screens */
    .contact-form {
        height: 90vh;
    }

    /* minimize white space on smaller screens */
    .contact-form {
        padding: 3vw;
        margin: 10px auto;
        width: 90%;
    }
}