.about-me {
    width: 100%;
    padding: 20px;
}

.icon-link {
    margin: 0 50px;
}

.squares {
    padding-top: 3vw;
    padding-bottom: 3vw;
}

.square {
    max-height: 90%;
    width: 30vw;
    margin-top: 30px;
    margin-bottom: 30px;
}

@media screen and (orientation: portrait) {
    .square {
        width: 80vw;
        height: auto;
    }

    .squares {
        flex-wrap: wrap;
    }
}