html {
    scroll-behavior: smooth;
}

body {
    background: url(images/code-background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

footer {
    position: relative;
    display: flex;
    padding: 30px;
}