html {
    scroll-behavior: smooth;
}

body {
    background-color: lightgray;
}

footer {
    position: relative;
    display: flex;
    padding: 30px;
}

.about-me {
    width: 100%;
    padding: 20px;
}

.icon-link {
    margin: 0 50px;
}